body{
  background-color: #F0ECD1


}

.top-nav {
  background-color:FAF8E8;
  border-bottom-color: #white;
  border-bottom-width: 3px;
  border-bottom-style: double;
  height:70px;
  padding-top:15px;
}

.brand {
  color: #9E0D0D;
  font-size: 30px;
  font-family: 'Handlee', cursive;
}